/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
body {
  margin: 90px;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  background-image: linear-gradient(#134d71, #f7e4bf);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

h1 {
  font-size: calc(1.5rem + 1.5vw);
}

h2 {
  font-size: calc(1rem + 1vw);
  margin: 80px 10px 50px 10px;
}

#first-box {
  background-color: #ffffff;
  border-radius: 12px;
  width: 50%;
  height: 10%;
  max-width: 600px;
  max-height: 100px;
  padding: 20px 50px;
  margin: 40px auto;
  font-style: italic;
  align-content: center;
  color: #000000;
  font-size: calc(0.5rem + 0.8vw);
}

#message-box {
  color: #000000;
  font-size: calc(1rem + 0.8vw);
  background-color: #ffffff;
  border-radius: 12px;
  margin: 0 auto;
  width: 75%;
  min-height: 40px;
  padding: 40px;
}

#meditating-icon {
  width: 15%;
  margin: 0 auto;
}

input[type=radio] {
  width: 10%;
  height: 1em;
  margin-bottom: 20px;
}

button {
  color: #ffffff;
  background-color: #134d71;
  font-family: 'Quicksand', sans-serif;
  width: 50%;
  height: 40%;
  border: 5px;
  padding:10px;
  border-radius: 12px;
  font-size: calc(0.5rem + 0.8vw);
  text-align: center;
}

#clear-message-btn {
  margin: 20px;
  width: 30%;
  height: 40%;
}

#clear-message-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: #F99BFF;
}

#receive-message-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: #F99BFF;
}

@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.fade {
  -webkit-animation: fadeIn 5s infinite; /* Safari 4+ */
  -moz-animation:    fadeIn 5s infinite; /* Fx 5+ */
  -o-animation:      fadeIn 5s infinite; /* Opera 12+ */
  animation:         fadeIn 5s infinite; /* IE 10+, Fx 29+ */
}

.affirmation-background {
  margin: 90px;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  background-image: linear-gradient(#f08080, #c9e4de);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.mantra-background {
  margin: 90px;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  background-image: linear-gradient(#757bc8, #f9dcc4);
  transition: background 3s fadeIn;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
